.card{
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}
.card{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.card-title{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
}
.devicetitle{
	display: flex;
	flex-direction: row-reverse;
}
.btn{
	background-color: #505eff;
	color: #ffffff;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}