/* 기존코드 */

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.navtitle {
    margin-left: 50px;
}

.navtitle p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 37px;
    font-weight: 700;
}

.card {
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}

.card {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #282b30;
    padding: 20px;
}

select {
    width: 40%;
}

.card-title {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.deviceId {
    color: #ffffff;
    font-weight: 600;
}

.devicetitle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.mdi-plus {
    color: #ffffff;
    font-size: 30px;
}

.btn {
    margin-right: 10px;
    background-color: #505eff;
    color: #ffffff;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadlabel {
    margin-top: 20px;
    background-color: #505eff;
    color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdi-cloud-upload {
    font-size: 40px;
}

.uploadlabeltext {
    margin-left: 20px;
    margin-top: 10px;
}

.table-dark {
    table-layout: fixed;
    margin-top: 20px;
}

.table-responsive {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    border-collapse: collapse;
}

.tabletr {
    background-color: #5156be;
}

.tableth {
    font-size: 18px;
}

.modifyth {
    width: 200px;
}

.tabletd {
    font-size: 15px;
    white-space: normal;
    font-family: "IBM Plex Sans KR", sans-serif;
}

td {
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: normal;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

.modifying {
    background-color: #5156be;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-left: 20px;
}

.mdi-pencil-box-outline {
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
}

.mdi-delete {
    font-size: 20px;
    color: #ffffff;
}

.modalcontainer {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    overflow: auto;
}

#picmodalcon {
    background-color: transparent;
}

.modal-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #282b30;
    border: none !important;
    justify-content: center;
    align-items: center;
}

.deviceenrollcard {
    width: 140%;
    background-color: #282b30;
    border-radius: 10px;
    padding: 30px;
}

.inputtitle {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.enrolldevice {
    background: transparent;
    width: 100%;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #39408a 2px solid;
    font-size: 15px;
    color: #ffffff;
}

.inputDiv {
    position: flex;
    margin-top: 30px;
}

.imgdiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.locationpicture {
    width: 170px;
    height: 150px;
    border-radius: 8px;
}

.pictureinputtitle {
    margin-left: 120px;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footerbutton {
    cursor: pointer;
    margin: 10px;
    margin-top: 60px;
    width: 100px;
    height: 50px;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    border-bottom: medium none;
    color: white;
    background-color: #505dff;
    border-radius: 7px;
}

button:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

.modal_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleinput[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.togglelabel {
    margin-left: 5px;
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.togglelabel:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.toggleinput:checked+label {
    background: #5156be;
}

.toggleinput:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.togglelabel:active:after {
    width: 30px;
}

.smallimg {
    cursor: pointer;
    border-radius: 5px;
}

.smallimg:hover {
    transform: scale(0.9);
    border-radius: 7px;
    opacity: 0.8;
}

.bigpicture {
    width: 100%;
}