<div class="content-wrapper">
  <nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top">
    <div class="navbar-menu-wrapper align-items-center">
      <ul class="navbar-nav ">
        <li class="navtitle">
          <p class="gfont whitefont">기기관리</p>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="card">

      <div class="table-responsive">
        <div class="devicetitle">

          <div class="pt-1">
            <button class="btn abtn" (click)="clickedModal()">
              <i class="menu-icon mdi mdi-plus"></i>
              기기 등록
            </button>
          </div>
        </div>
        <table class="table table-dark table-striped">
          <thead>
            <tr class="tabletr">
              <th class="tableth">
                설치사진
              </th>
              <th class="tableth">
                모델명
              </th>
              <th class="tableth">
                별칭
              </th>
              <th class="tableth">
                설치장소
              </th>
              <th class="tableth">
                설치일
              </th>

              <th class="tableth">
                통신방식
              </th>
              <th class="tableth">
                점검여부
              </th>
              <th class="tableth">
                메모
              </th>
              <th class="tableth modifyth">
                변경
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let devicedata of getalldevicesdata; let index = index">
              <td class="tabletd">
                <img (click)="picturemodalopen(index)" class="smallimg" *ngIf="devicedata.picture?.length >0"
                  [src]="devicedata.picture">
              </td>
              <td class="tabletd">
                {{devicedata.model}}
              </td>

              <td class="tabletd">
                {{devicedata.name}}
              </td>

              <td class="tabletd">
                {{devicedata.location}}
              </td>

              <td class="tabletd">
                {{devicedata.installDate}}
              </td>

              <td class="tabletd">
                {{devicedata.communicateMethod}}
              </td>
              <td class="tabletd">
                <input class="toggleinput" [checked]="devicedata.inspection" type="checkbox" id="{{index}}"
                  (click)="chkinspection(index)" />
                <label class="togglelabel abtn" for="{{index}}"></label>

              </td>

              <td class="tabletd">
                {{devicedata.userMemo}}
              </td>

              <td class="tabletd">
                <ul class="modify">
                  <li>
                    <button class="modifying abtn" (click)="getOneDevice(index)">
                      <i class="menu-icon mdi mdi-pencil-box-outline"></i>
                    </button>
                  </li>
                  <li>
                    <button class="modifying abtn" (click)="deleteonedevice(index)">
                      <i class="menu-icon mdi mdi-delete"></i>
                    </button>
                  </li>
                </ul>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<div [ngClass]="modal ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">기기등록</h5>

        <form [formGroup]="deviceenrollForm" (ngSubmit)="deviceenroll()" novalidate>
          <div class="inputDiv">
            <div class="imgdiv">
              <img [src]="imageSrc" class="locationpicture">
              <div class="labelbox">
                <input id="bizFile" class="enrolldevice" placeholder="설치사진" type="file" accept=".jpg, .jpeg, .png"
                  (change)="onFileChange($event)" style="display: none;" />
                <label for="bizFile" class="uploadlabel abtn">
                  <div>
                    <i class="menu-icon mdi mdi-cloud-upload"></i>
                  </div>
                  <h4 class="uploadlabeltext">로고 업로드</h4>
                </label>
              </div>
            </div>
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[기기아이디]</p>
            <select formControlName="deviceId">
              <option selected [ngValue]="null">기기 아이디를 선택해 주세요</option>
              <option *ngFor="let i of unregidevices" value="{{i}}">{{i}}</option>
              <!-- <input placeholder="고객사명을 입력해주세요" class="enrolldevice" type="text" formControlName="customerName" /> -->
            </select>
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[고객사명]</p>
            <select formControlName="customerName">
              <option [ngValue]="null">고객사명을 선택해 주세요</option>
              <option *ngFor="let i of customerNames" value="{{i}}">{{i}}</option>
              <!-- <input placeholder="고객사명을 입력해주세요" class="enrolldevice" type="text" formControlName="customerName" /> -->
            </select>
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[별칭]</p>
            <input placeholder="별칭을 입력해주세요" class="enrolldevice" type="text" formControlName="name" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[모델명]</p>
            <input placeholder="모델명을 입력해주세요" class="enrolldevice" type="text" formControlName="model" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[설치장소]</p>
            <input placeholder="(필수)설치장소를 입력해주세요" class="enrolldevice" type="text" formControlName="location" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[설치일]</p>
            <input placeholder="(필수)설치일을 입력해주세요" class="enrolldevice" type="text" formControlName="installDate" />
          </div>



          <div class="inputDiv">
            <p class="inputtitle">[통신방식]</p>
            <input placeholder="통신방식을 입력해주세요" class="enrolldevice" type="text" formControlName="communicateMethod" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[메모]</p>
            <input placeholder="메모를 입력해주세요" class="enrolldevice" type="text" formControlName="userMemo" />
          </div>



          <div class="modal_footer">
            <button class="footerbutton abtn" tabindex="10" type="button" (click)="clickedModalClose()">취소</button>
            <button class="footerbutton abtn" tabindex="11" type="submit">기기등록</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>



<div [ngClass]="modal2 ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">기기수정</h5>

        <form [formGroup]="devicemodifyForm" (ngSubmit)="modifyonedevice()" novalidate>

          <div class="inputDiv">
            <div class="imgdiv">
              <img [src]="imageSrc" class="locationpicture">
              <div>
                <input id="bizFile" class="enrolldevice" placeholder="설치사진" type="file" accept=".jpg, .jpeg, .png"
                  (change)="onFileChange($event)" style="display: none;" />
                <label for="bizFile" class="uploadlabel abtn">
                  <div>
                    <i class="menu-icon mdi mdi-cloud-upload"></i>
                  </div>
                  <h4 class="uploadlabeltext">사진 업로드</h4>
                </label>
              </div>
            </div>
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[기기아이디]</p>
            <p class="deviceId">{{getonedeviceId}}</p>
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[고객사명] 수정 불가능</p>
            <input class="enrolldevice" type="text" formControlName="customerName" readonly />

          </div>


          <div class="inputDiv">
            <p class="inputtitle">[별칭]</p>
            <input placeholder="별칭을 입력해주세요" class="enrolldevice" type="text" formControlName="name" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[모델명]</p>
            <input placeholder="모델명을 입력해주세요" class="enrolldevice" type="text" formControlName="model" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[위치]</p>
            <input placeholder="(필수)설치장소를 입력해주세요" class="enrolldevice" type="text" formControlName="location" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[설치일]</p>
            <input placeholder="(필수)설치일을 입력해주세요" class="enrolldevice" type="text" formControlName="installDate" />
          </div>





          <div class="inputDiv">
            <p class="inputtitle">[통신방식]</p>
            <input placeholder="통신방식을 입력해주세요" class="enrolldevice" type="text" formControlName="communicateMethod" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[메모]</p>
            <input placeholder="메모를 입력해주세요" class="enrolldevice" type="text" formControlName="userMemo" />
          </div>



          <div class="modal_footer">
            <button class="footerbutton abtn" tabindex="10" type="button" (click)="clickedModal2Close()">취소</button>
            <button class="footerbutton abtn" tabindex="11" type="submit">기기수정</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

<div [ngClass]="picturemodal ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog bigpicdialog" role="document">
    <div class="modal-content" id="picmodalcon">
      <img class="bigpicture" [src]="bigpicturesrc">
      <button (click)="picturemodalclose()" class="footerbutton">닫기</button>
    </div>
  </div>
</div>