<div class="content-wrapper">
    <div class="row">
        <div class="card">

            <div class="table-responsive">

                <table class="table table-dark table-striped">
                    <thead>
                        <tr class="tabletr">
                            <th class="tableth" style="width:8%;">
                                순번
                            </th>
                            <th class="tableth">
                                디바이스명
                            </th>
                            <th class="tableth">
                                시간
                            </th>
                            <th class="tableth">
                                타입
                            </th>
                            <th class="tableth">
                                위치
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of alldetectiondata[0];let index = index">
                            <td class="font-weight-medium" class="tabletd">
                                {{index + 1}}
                            </td>
                            <td class="font-weight-medium" class="tabletd">
                                {{i.name}}
                            </td>
                            <td class="tabletd">
                                {{i.time}}
                            </td>
                            <td class="tabletd">
                                {{i.type}}
                            </td>
                            <td class="tabletd">
                                {{i.location}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>