.profileimg {
  height: 80%;
  width: 80%;
  top: 35px;

  border: 3px solid #438ffe;
  border-radius: 50%;

  margin: 50px 0px 20px 0px;
}

.profilename {
  font-weight: 700;
  font-size: 15px;

  color: #000000;

  margin: 0px 0px 4px 0px;
}

.modifyprofile {
  font-family: "Gill Sans MT" !important;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  color: #61676b;

  margin: 0px;
}

/* 모달 */

mat-icon {
  cursor: pointer;
}
