<div class="content-wrapper">
  <nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top">
    <div class="navbar-menu-wrapper align-items-center">
      <ul class="navbar-nav " style="height: 50px;">
        <li class="navtitle">
          <p style="color: white;">시스템설정</p>
        </li>
        <li>
          <div class="form-search ">
            <form action="form-action" class="d-none d-sm-block">
              <div class="search__container">
                <input class="search__input" type="text" placeholder="Search">
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">

    <div style="color: #ffffff;">

    </div>
  </div>
</div>