.card{
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}
.navbar-menu-wrapper{
	background-color: #121619 !important;
}
.navbar-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.navtitle{
	margin-left: 50px;
}
.navtitle p {
	margin-top: 20px;
	color: #ffffff;
	font-size: 37px;
	font-weight: 700;
}