<div id="outer-grid">
    <div class="font">
        <div style="text-align: right;">
            <button mat-raised-button  (click)="clickedaddModal()"><mat-icon>add</mat-icon>기기 등록</button>
        </div>

        <!-- 
        남은작업 :
        -->
        <div>
            <div class="unit unittitle">
                <div>
                        <div>설치사진</div>
                        <div>모델명</div>
                        <div>별칭</div>
                        <div>설치장소</div>
                        <div>설치일</div>
                        <div>통신방식</div>
                        <div>점검여부</div>
                        <div>메모</div>
                        <div>변경</div>
                </div>
            </div>

            <!--
            남은 작업 :
                    수직 가운데 정렬
            -->
            <div class="unit tnhhable">
                <div id="unitDiv" *ngFor="let devicedata of datalist; let index = index">
                    <div><img (click)="pictureopen(devicedata)" class="smallimg" *ngIf="devicedata.picture?.length >0" [src]="devicedata.picture"></div>
                    <div>{{devicedata.model}}</div>
                    <div>{{devicedata.name}}</div>
                    <div>{{devicedata.location}}</div>
                    <div>{{devicedata.installDate}}</div>
                    <div>{{devicedata.communicateMethod}}</div>
                    <div>
                        <mat-slide-toggle [(ngModel)]="devicedata.inspection" (change)="chkinspection(devicedata)"></mat-slide-toggle>
                    </div>
                    <div>
                        {{devicedata.userMemo}}
                    </div>
                    <div>

                        <div>
                            <button class="mdi mdi-pencil-box-outline imgbutton" (click)="clickedregModal(devicedata)">
                            </button>
                        </div>
                        <div>
                            <button class="mdi mdi-delete imgbutton" (click)="deleteonedevice(devicedata)">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>