.container-table {
  width: auto;
  height: auto;
  background-color: var(--main-bg-color);
  padding: 20px;
  border-radius: 15px;
}

.demo-button-container {
  text-align: right;
}

.demo-button {
  color: #ffffff;
  background-color: var(--tablehead-bg-color);
  border-radius: 15px;
}

th.mat-header-cell {
  text-align: center;
}

table {
  background-color: transparent;
  margin-top: 20px;
  width: 100%;
}

th {
  background-color: var(--tablehead-bg-color);
  font-weight: bolder !important;
  color: #ffffff;
}

th.left {
  border-top-left-radius: 15px;
  padding-left: 24px;
}
th.right {
  border-top-right-radius: 15px;
}
tr {
  background: var(--table-bg-color);
}

tr:nth-child(even) {
  background-color: var(--main-bg-color);
}

td {
  color: var(--profile-font-color);
}

.chagne-btn {
  color: var(--profile-font-color);
  cursor: pointer;
  width: auto;
}

.chagne-btn :hover {
  color: var(--tablehead-bg-color);
}

mat-icon.btn {
  margin: 0 20px;
}
