.container-table {
  width: auto;
  /* height: calc(100vh - 155px); */
  background-color: var(--grid-table-bg);
  padding: 20px;
  border-radius: 15px;
  margin-top: 30px;
  height: calc(100dvh - 210px);
}

.demo-button-container {
  text-align: right;
}

.demo-button {
  color: #ffffff;
  background-color: var(--tablehead-bg-color);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  padding: 7px 15px;
}


table {
  width: 100%;
}

tr {
  background: var(--table-default-color);
}

tr:nth-child(even) {
  background-color: var(--table-bg-color);
}

th,
td {
  font-family: 'Pretendard Variable', Noto Sans;
  letter-spacing: 0em;
  text-align: center;
  z-index: 1 !important;
  padding-inline: 2px !important;
}

th {
  background-color: var(--tablehead-bg-color);
  font-weight: 600;
  color: #ffffff;
  height: 60px;
  font-size: 1rem;
  line-height: 20px;
}

th.mat-header-cell {
  text-align: center;
  z-index: 100 !important;
}
th.left {
  border-top-left-radius: 15px;
}
th.mat-header-cell:last-of-type {
  border-top-right-radius: 15px;
}
td {
  color: var(--profile-font-color);
  height: 100px;
  font-size: 1rem;
  line-height: 18px;
  word-break: keep-all;
}

th.left, td.mat-cell:first-of-type {
  padding-inline: 1rem 2px !important;
}
td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-inline: 2px 1rem !important;
}

.chagne-btn {
  color: var(--profile-font-color);
  cursor: pointer;
  width: auto;
}

.chagne-btn :hover {
  color: var(--tablehead-bg-color);
}

mat-icon.btn {
  margin: 0 20px;
}

.margin20px-t {
  margin-top: 20px;
}

.example-container {
  height: 92%;
  width: auto;
  max-width: 100%;
  overflow: auto;
}
.example-container.alldetectionList {
  height: 100%;
}

.example-container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.example-container::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: var(--scrollbar-thumb); /* 스크롤바의 색상 */
  /* background: rgba(89, 87, 87, 1); 스크롤바의 색상 */
  border-radius: 15px;
  width: 5%;
}

.example-container::-webkit-scrollbar-track {
  /* background: rgba(196, 196, 196, 1); 스크롤 색상 */
  background-color: var(--scrollbar-track);
  border-radius: 15px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.completion-btn {
  width: auto;
}

@media (max-width: 1200px) {
  .container-table {
    margin-top: 0;
    height: calc(100dvh - 170px);
  }
  tr.mat-header-row {
    height: 50px;
  }
  th {
    min-width: fit-content;
    height: 50px;
    font-size: 1rem !important;
    white-space: nowrap;
  }
  td {
    height: 80px;
  }
}
@media (max-width: 576px) {
  tr.mat-header-row {
    height: 44px;
  }
  th,
  td {
    padding-inline: 4px !important;
  }
  td {
    height: 72px;
    padding-block: 2px !important;
  }
  th {
    min-width: 68px;
    height: 44px;
    font-size: 14px !important;
  }
  th.left {
    z-index: 101 !important;
    border-top-left-radius: 8px;
  }
  th.mat-header-cell:last-of-type {
    border-top-right-radius: 8px;
  }
  td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-inline: 4px 1rem !important;
  }
  td.mat-cell:first-of-type, th.left {
    position: sticky;
    left: 0;
    padding-inline: 1rem 4px !important;
  }
  td.mat-cell:first-of-type {
    background-color: var(--table-left-odd-color);
    z-index: 100 !important;
  }
  tr:nth-child(even) td.mat-cell:first-of-type {
    background-color: var(--table-left-even-color);
  }
  td.mat-cell.mat-column-picture {
    padding-inline: 1rem !important;
  }
  .mat-column-location {
    min-width: 112px
  }
  .mat-column-phone {
    min-width: 88px;
  }
  .example-container {
    border-top-left-radius: 8px;
  }
  .example-container.alldetectionList th {
    min-width: 0;
  }
  .example-container.alldetectionList :is(td.mat-cell:first-of-type, th.mat-header-cell:first-of-type) {
    width: 11% !important;
  }
  
  .container-table {
    width: calc(100vw - 40px);
    box-sizing: border-box;
    height: calc(100dvh - 100px);
    overflow-y: scroll;
  }
  .example-container::-webkit-scrollbar {
    display: none;
  }
  .demo-button {
    padding-block: 0;
  }
  .mat-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-height: 992px) and (orientation: landscape) {
  .container-table {
    margin-top: 0;
    height: calc(100dvh - 160px);
    overflow: hidden;
  }
  .example-container {
    height: calc(100% - 80px);
    margin-bottom: 1rem;
  }
  table {
    overflow: visible;
  }
  th {
    height: 48px;
  }
  td, tr:not(.mat-header-row) {
    height: 72px;
  }
  mat-icon.btn {
    margin-inline: 10px;
  }
}