.container-table {
  width: auto;
  /* height: calc(100vh - 155px); */
  background-color: var(--grid-table-bg);
  padding: 20px;
  border-radius: 15px;
  margin-top: 30px;
  height: calc(100vh - 210px);
}

.demo-button-container {
  text-align: right;
}

.demo-button {
  color: #ffffff;
  background-color: var(--tablehead-bg-color);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  padding: 7px 15px;
}

th.mat-header-cell {
  text-align: center;
}

table {
  width: 100%;
  border-radius: 50% !important;
}

th,
td {
  font-family: 'Pretendard Variable', Noto Sans;
  letter-spacing: 0em;
  text-align: center;
  z-index: 1 !important;
}

th {
  background-color: var(--tablehead-bg-color);
  font-weight: 600;
  color: #ffffff;
  height: 60px;
  font-size: 1rem;
  line-height: 20px;
  padding-inline: 2px !important;
}

th.left {
  border-top-left-radius: 15px;
  padding-left: 1.8rem;
}
th.right {
  border-top-right-radius: 15px;
}
tr {
  background: var(--table-default-color);
}

tr:nth-child(even) {
  background-color: var(--table-bg-color);
}

td {
  color: var(--profile-font-color);
  height: 100px;
  font-size: 1rem;
  line-height: 18px;
  word-break: keep-all;
  padding-inline: 2px !important;
}
td.mat-cell:first-of-type {
  padding-left: 1.8rem;
}
td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 1.8rem;
}

.chagne-btn {
  color: var(--profile-font-color);
  cursor: pointer;
  width: auto;
}

.chagne-btn :hover {
  color: var(--tablehead-bg-color);
}

mat-icon.btn {
  margin: 0 20px;
}

.margin20px-t {
  margin-top: 20px;
}

.example-container {
  height: 92%;
  width: auto;
  max-width: 100%;
  overflow: auto;
}
.example-container.alldetectionList {
  height: 100%;
}

.example-container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.example-container::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: var(--scrollbar-thumb); /* 스크롤바의 색상 */
  /* background: rgba(89, 87, 87, 1); 스크롤바의 색상 */
  border-radius: 15px;
  width: 5%;
}

.example-container::-webkit-scrollbar-track {
  /* background: rgba(196, 196, 196, 1); 스크롤 색상 */
  background-color: var(--scrollbar-track);
  border-radius: 15px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.completion-btn {
  width: auto;
}

@media (max-width: 1200px) {
  .container-table {
    margin-top: 0;
    height: calc(100vh - 170px);
  }
  tr.mat-header-row {
    height: 50px;
  }
  th {
    height: 50px;
    font-size: 1rem !important;
  }
  td {
    height: 80px;
  }
  th.left, td.mat-cell:first-of-type {
    padding-left: 1.2rem;
  }
  td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 1.2rem;
  }
}
@media (max-width: 576px) {
  tr.mat-header-row {
    height: 44px;
  }
  th {
    height: 44px;
  }
  td {
    height: 72px;
  }
  .container-table {
    width: calc(100vw - 40px);
    box-sizing: border-box;
  }
  .example-container::-webkit-scrollbar {
    display: none;
  }
  .demo-button {
    padding-block: 0;
  }

}