<div class="modalDiv">

    <h2 class="font">비밀번호찾기</h2>

    <form class="container" [formGroup]="Form" (ngSubmit)="submit()" novalidate>


        <mat-form-field appearance="fill">
            <mat-label>이름</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <div class="modal_footer">
            <button mat-flat-button color="primary" type="submit" [mat-dialog-close]="" cdkFocusInitial>비밀번호찾기</button>
        </div>
    </form>

    <!-- <button mat-stroked-button color="primary" class="backbtn" (click)="onNoClick()">돌아가기</button> -->

</div>
