.page-body-wrapper.full-page-wrapper {
  width: 100%;
  height: 100% !important;
  margin: auto;
  min-height: 100vh;
}

.contain {
  display: flex;
  background: linear-gradient(to right bottom, #054779, #2a1234);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3vh;
}

.title {
  color: #ffffff;
  font-size: 2rem;
}

form {
  width: 90%;
  margin-block: 80px 52px;
}

.inputDiv {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 48px;
}
.inputDiv:nth-child(2) {
margin-bottom: 52px;
}

input {
  flex: 1;
  background: transparent;
  border-bottom: teal 2px solid;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  font-size: 1rem;
  color: #ffffff;
  padding-block: 4px;
}

input::placeholder {
  color: #dbdbdbb2;
}

.icon {
  color: #ffffff;
  font-size: 30px;
  margin-right: 20px;
  margin-bottom: 4px;
}

.abtn {
  width: 100%;
  height: 50px;
  display: inline-block;
  border: none;
  color: #fff;
  background-color: #5156be;
  border-radius: 7px;
  margin-left: 4px;
  cursor: pointer;
}

.abtn:hover {
  animation: pulsate 1s ease-in-out;
}

.abtn:active {
  box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
  position: relative;
  top: 2px;
}

.another {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: .9rem;
  color: #dbdbdbb2;
}
.anotherbutton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: teal;
  text-decoration: underline;
  font-size: 1rem;
}