<div class="full-page-wrapper page-body-wrapper contain" style="background-color: black;">
  <div>
    <p class="title">스마트 비상벨 관제시스템</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="inputDiv">
        <i class="mdi mdi-bell-outline icon"></i>
        <input class="underline" type="text" placeholder="ID" formControlName="username" />
      </div>
      <div class="inputDiv">
        <i class="mdi mdi-bell-outline icon"></i>
        <input class="underline" type="password" placeholder="Password" formControlName="password" />
      </div>
      <button>회원가입</button>
      <button>로그인</button>
    </form>
    <a href='/main/dashboard'>대시보드</a>

  </div>
</div>