<div class="full-page-wrapper page-body-wrapper contain">
  <div class="container">
    <h1 class="title">스마트 비상벨 관제시스템</h1>
    <form [formGroup]="Form" (ngSubmit)="login()" novalidate>
      <div class="inputDiv">
        <i class="mdi mdi-account-outline icon"></i>
        <input class="underline" type="text" placeholder="ID" formControlName="username" tabindex="1" />
      </div>
      <div class="inputDiv">
        <i class="mdi mdi-lock-outline icon"></i>
        <input class="underline" type="password" placeholder="Password" formControlName="password" tabindex="2" />
      </div>
      <button class="singin abtn" tabindex="3">로그인</button>
    </form>
    <div class="another">
      <span>비밀번호를 잊으셨나요? </span>
      <button class="anotherbutton" tabindex="5" (click)="goforgotpassword()">비밀번호찾기</button>
    </div>
  </div>
</div>