.back-grid {
  background-color: var(--MainBell-bg-color);
  border-radius: 30px;
}

.mat-grid-tile {
  background-color: var(--bell-bg-color);
  color: var(--profile-font-color);
}

.first {
  background-color: var(--MainBell-bg-color);
  color: #fff;
  border-top-left-radius: 15px;
  box-shadow: 5px 6px 10px 4px rgba(40, 40, 40, 0.25);
  z-index: 1;
}

.dashleft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashright {
  position: absolute;
  right: 0;
  width: 50%;
  height: auto;
}

.fontSt {
  font-size: 1.5rem;
}

.socketFont {
  font-size: 2rem;
  margin-top: 1.9rem;
  font-weight: 700;
}

img {
  width: 70%;
  max-width: 124px;
  object-fit: contain;
}

.filter {
  filter: brightness(var(--filter-hover-svg-brightness));
}

@media (max-width: 1220px) {
  .fontSt {
    font-size: 1.2rem;
  }
  
  .socketFont {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .dashleft {
    width: 40%;
  }
  .dashright {
    width: 60%;
  } 
  img {
    width: 95%;
  }
}