<div id="inner-grid">

    <div class="total" id="inner-grid">
        <div>
            <img src="../../../../../assets/images/dashboardicons/총갯수.png"/>
        </div>
        <div>
            <div id="inner-grid" class="subheading font">
                <div>
                    총 갯수
                </div>

                <div class="subcontent font">
                    {{socketdevicesdata["numDevice"]}}
                </div>
            </div>
            
        </div>
    </div>

    <div class="leftboundary defaultBack" id="inner-grid" style="border-radius: 0px 10px 0px 0px;">
        <div>
            <img src="../../../../../assets/images/dashboardicons/작동중.png"/>
        </div>
        <div>
            <div id="inner-grid" class="subheading font">
            <div class="subheading font">
                작동중
            </div>
            <div class="subcontent font">
                {{socketdevicesdata["activationDevice"]}}
            </div>
        </div>
        </div>
    </div>

    <div class="defaultBack" id="inner-grid" style="border-radius: 0px 0px 0px 10px;">
        <div>
            <img src="../../../../../assets/images/dashboardicons/점검중.png"/>
        </div>
        <div>
            <div id="inner-grid" class="subheading font">

                <div class="subheading font">
                    점검중
                </div>
                <div class="subcontent font">
                    {{socketdevicesdata["inspectionDevice"]}}
                </div>
            </div>
        </div>
    </div>

    <div class="leftboundary defaultBack" id="inner-grid" style="border-radius: 0px 0px 10px 0px;">
        <div>
            <img src="../../../../../assets/images/dashboardicons/연결끊김.png"/>
        </div>
        <div>
            <div id="inner-grid" class="subheading font">

                <div class="subheading font">
                    연결끊김
                </div>
                <div class="subcontent font">
                    {{socketdevicesdata["deactivateDevice"]}}
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- mui grid로 다시 작업 -->
<!-- <div>

    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="0px">
        <mat-grid-tile>hello</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
</div> -->
  