.subheading {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.subcontent {
  font-size: 55px;
}

.leftboundary {
  border-left: 2px solid rgba(28, 32, 114, 0.38);
}

div {
  align-items: center;
}

img {
  width: 40%;
}

div #inner-grid {
  height: 15vh;
}

div #inner-grid .subheading {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.total {
  background: var(--MainBell-bg-color) !important;
  box-shadow: 5px 6px 10px 4px rgba(40, 40, 40, 0.25);
  border-radius: 10px 0px 0px 0px;
  width: 20vw;
  /* color: #ffffff; */

  border-bottom: 2px solid rgba(28, 32, 114, 0.38);
  border-right: 2px solid rgba(28, 32, 114, 0.38);
}

.defaultBack {
  background: var(--bell-bg-color);
  color: var(--profile-font-color);
}
