.sidebar {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;

  position: absolute;
  overflow-y: hidden;
  background: #fff;
  width: 11.42%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  /* display: flex; */
  flex-direction: column;

  height: 75px;
  left: 11.42%;
  right: 0%;
  top: 0px;
  border-bottom: 1.5px solid #e5e5e5;
}

.container {
  position: absolute;
  width: 88.58%;
  right: 0px;
  top: 76.5px;
  bottom: 0px;

  background-color: #e5e5e5;
}

/* 사이드CSS
  - 사라질 때 애니메이션 효과 추가
  - 목록 애니메이션 효과 추과
  - 창크기에맞춰 사이바내용 크기 조절
  */
/* 
  
  */

@media (max-width: 1500px) {
  .sidebar {
    display: none;
  }
  .header {
    left: 0%;
    right: 0%;
  }

  .container {
    margin-left: 0;
    width: 100%;
  }
}
