<div class="menu-overlay"></div>
<div class="container-scroller">

	<nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top" style="visibility: none;">
		<!-- <div class="navbar-menu-wrapper align-items-center">

			<ul class="navbar-nav float-right" style="height: 50px;">

				<li>
					<div class="form-search float-right">
						<form action="form-action" class="d-none d-sm-block">
							<div class="search__container">
								<input class="search__input" type="text" placeholder="Search">
							</div>
						</form>
					</div>
				</li>
				<li class="nav-item dropdown ml-4">
					<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
						data-toggle="dropdown">
						<i class="mdi mdi-bell-outline"></i>
						<div class="count bg-success">4</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
						aria-labelledby="notificationDropdown">
						<a class="dropdown-item py-3 border-bottom">
							<p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
							<div class="badge badge-pill badge-primary float-right">View all</div>
						</a>
						<a class="dropdown-item preview-item py-3">
							<div class="preview-thumbnail">
								<i class="mdi mdi-alert m-auto text-primary"></i>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
								<p class="font-weight-light small-text mb-0"> Just now </p>
							</div>
						</a>
						<a class="dropdown-item preview-item py-3">
							<div class="preview-thumbnail">
								<i class="mdi mdi-settings m-auto text-primary"></i>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
								<p class="font-weight-light small-text mb-0"> Private message </p>
							</div>
						</a>
						<a class="dropdown-item preview-item py-3">
							<div class="preview-thumbnail">
								<i class="mdi mdi-airballoon m-auto text-primary"></i>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
								<p class="font-weight-light small-text mb-0"> 2 days ago </p>
							</div>
						</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
						aria-expanded="false">
						<div class="profile-text d-none d-md-inline-block">BS소프트</div>
						<img class="img-xs rounded-circle" src="../assets/images/faces/face1.jpg" alt="Profile image">
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
						<a class="dropdown-item p-0">
							<div class="d-flex border-bottom">
								<div class="py-3 px-4 d-flex align-items-center justify-content-center">
									<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
								</div>
								<div
									class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
									<i class="mdi mdi-account-outline mr-0 text-gray"></i>
								</div>
								<div class="py-3 px-4 d-flex align-items-center justify-content-center">
									<i class="mdi mdi-alarm-check mr-0 text-gray"></i>
								</div>
							</div>
						</a>
						<a class="dropdown-item mt-2"> Manage Accounts </a>
						<a class="dropdown-item"> Change Password </a>
						<a class="dropdown-item"> Check Inbox </a>
						<a class="dropdown-item"> Sign Out </a>
					</div>
				</li>

			</ul>

		</div> -->
	</nav>




	<div class="container-fluid page-body-wrapper">
		<nav class="sidebar sidebar-offcanvas" id="sidebar"
			style="position:fixed; z-index: 350; padding-top: 30px; overflow-y: hidden; background-color: #121619; border-right: 3px solid #282c2f;">
			<div>
				<div class="avatarcon" style="height: 150px; text-align: center; margin-top: 30px;">
					<img class="avatar bg-light rounded-circle text-white p-1" [src]="corplogo"
						style="width: 80px; height: 80px;">
					<p class="gfont" style="color: white;
					margin-top: 10px;
					font-weight: 400; font-size: 20px; ">{{myname}}</p>
					<a routerLink="/editprofile" class="gfont" style="color: white;
					margin-top: 10px;
					font-weight: 400; font-size: 14px;">내 정보수정</a>
				</div>
				<div>

				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" routerLink="dashboard">
							<img src="../../assets/images/dashboardicons/전체현황.png" />
							<div class="menu-title" style="display: block;">
								<h6 class="gfont">전체현황</h6>
							</div>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="user">
							<img src="../../assets/images/dashboardicons/회원관리.png" />
							<div class="menu-title">
								<h6 class="gfont">회원관리</h6>
							</div>
						</a>
					</li>
					<li class="nav-item" *ngIf="is_hyperuser">
						<a class="nav-link" routerLink="client">
							<img src="../../assets/images/dashboardicons/고객사관리.png" />
							<div class="menu-title">
								<h6 class="gfont">고객사관리</h6>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="device">
							<img src="../../assets/images/dashboardicons/기기관리.png" />
							<div class="menu-title">
								<h6 class="gfont">기기관리</h6>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="alldetection">
							<img src="../../assets/images/dashboardicons/전체감지.png" />
							<div class="menu-title">
								<h6 class="gfont">전체감지</h6>
							</div>
						</a>
					</li>

				</ul>
			</div>
			<div class="logoutbox">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" (click)="clickedModal()">
							<img src="../../assets/images/dashboardicons/작동중.png" style="width: 34px;" />
							<div class="menu-title">
								<h6 class="gfont">알람설정</h6>
							</div>
						</a>
					</li>
					<li class="nav-item" style=>
						<a class="nav-link" (click)="logout()" routerLink="">
							<img src="../../assets/images/dashboardicons/로그아웃.png" style="width: 34px;" />
							<div class="menu-title">
								<h6 class="gfont">로그아웃</h6>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="main-panel">
			<router-outlet></router-outlet>


		</div>

	</div>


</div>


<div [ngClass]="alarmmodal ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
	<div class="modal-dialog" role="document">

		<div class="modal-content">
			<div class="deviceenrollcard">
				<h5 class="modal-title" id="exampleModalLabel">알림설정</h5>




				<ul class="tabtitle">
					<li class="tabtitlebox" [class.selected]="title === selectedtab" *ngFor="let title of tabtitle;"
						(click)="selecttab(title)">
						<p class="gfont tabfont">{{title}}</p>
					</li>
				</ul>


				<div class="tabcontents">
					<!-- tab1 -->
					<div class="contentbox" *ngIf="tab1">

						<div class="flexbox">
							<form [formGroup]="registersmsForm" (ngSubmit)="registersmsuser()" novalidate>
								<div class="inputDiv">
									<input placeholder="이름" class="enrolldevice1" type="text" formControlName="name" />
									<input placeholder="연락처" class="enrolldevice2" type="text"
										formControlName="phone" />
									<button class="imgbutton">
										<img src="../../assets/images/dashboardicons/더하기.png " />
									</button>
								</div>
							</form>
						</div>

						<div class="buttonbox">
							<input [checked]="allsmsdata" (click)="allsmssetting()" class="toggleinput" type="checkbox"
								id="toggleinput" />
							<label class="togglelabel customlabel" for="toggleinput"></label>
						</div>


						<div class="tblth">
							<div class="th">이름</div>
							<div class="th">번호</div>
							<div class="th">발신설정</div>
							<div class="th">삭제</div>
						</div>
						<div class="tbltd" *ngFor="let user of getalarmsmsdata; let index = index;">
							<div class="td">
								{{user.name}}
							</div>
							<div class="td">
								{{user.phone}}
							</div>
							<div class="td">
								<input [checked]="user.setting" id="sms{{index}}" class="toggleinput" type="checkbox"
									(click)="onesmssetting(index)" />
								<label class="togglelabel" for="sms{{index}}"></label>
							</div>
							<div class="td">
								<button class="modifying" (click)="deletesmsalarm(index)">
									<i class="menu-icon mdi mdi-delete"></i>
								</button>
							</div>
						</div>

					</div>

					<!-- tab2 -->
					<div class="contentbox" *ngIf="tab2">
						<div class="flexbox">
							<form [formGroup]="registeremailForm" (ngSubmit)="registeremailuser()" novalidate>
								<div class="inputDiv">
									<input placeholder="이름" class="enrolldevice1" type="text" formControlName="name" />
									<input placeholder="이메일" class="enrolldevice2" type="text"
										formControlName="email" />
									<button class="imgbutton">
										<img src="../../assets/images/dashboardicons/더하기.png " />
									</button>
								</div>
							</form>
						</div>

						<div class="buttonbox">
							<input [checked]="allemaildata" (click)="allemailsetting()" class="toggleinput"
								type="checkbox" id="toggleinput" />
							<label class="togglelabel customlabel" for="toggleinput"></label>
						</div>

						<div class="tblth">
							<div class="th">이름</div>
							<div class="th">이메일</div>`
							<div class="th">발신설정</div>
							<div class="th">삭제</div>
						</div>

						<div class="tbltd" *ngFor="let user of getalarmemaildata; let index = index;">
							<div class="td">
								{{user.name}}
							</div>
							<div class="td">
								{{user.email}}
							</div>
							<div class="td">
								<input (click)="oneemailsetting(index)" [checked]="user.setting" id="email{{index}}"
									class="toggleinput" type="checkbox" />
								<label class="togglelabel" for="email{{index}}"></label>
							</div>
							<div class="td">
								<button class="modifying" (click)="deleteemailalarm(index)">
									<i class="menu-icon mdi mdi-delete"></i>
								</button>
							</div>
						</div>

					</div>
				</div>



				<div class="modal_footer">
					<a class="abtn" (click)="clickedModalClose()">확인</a>


				</div>



			</div>
		</div>
	</div>
</div>

<div [ngClass]="modal ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="deviceenrollcard">
				<h5 class="modal-title" id="exampleModalLabel">{{popupdata}}</h5>

				<div class="modal_footer">
					<button class="footerbutton" type="button" (click)="closepopupmodal()">확인</button>
				</div>
			</div>
		</div>
	</div>
</div>