/* 구역 나누기 */
.example-container {
  width: 100%;
  height: 100%;
}

.mat-drawer-content {
  overflow-x: hidden !important;
  background-color: var(--main-bg-color);
}

.example-sidenav {
  display: flex;
  width: 11.42%;
  overflow: hidden;
  background: var(--main-bg-color);
  height: auto;
  min-height: 100%;
  position: fixed;
  border: transparent;

  text-align: center;
  vertical-align: middle;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.example-header {
  height: 75px;
  border-bottom: 1.5px solid var(--header-border-color);
  background: var(--main-bg-color);
}

.mat-toolbar-single-row {
  padding: 0 36px !important;
}

app-header {
  width: 100%;
}

app-sidefooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 11.42%;
  /* vertical-align: bottom; */
}

/*  */
@media (max-width: 1500px) {
  .example-sidenav {
    display: none;

    width: 0;
  }
}
