.popup-container {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  font-size: 30px;
  color: var(--profile-font-color);
  font-weight: bolder;
  height: 10%;

  justify-content: center;
  align-items: center;
}
.form {
  height: 80%;

  justify-content: center;
  align-items: center;
}
mat-form-field {
  padding: 20px 0;
  width: 100%;
}

.Distribution {
  height: 20% !important;
}

button.btn {
  width: 88px;
  padding: 0 15px;
  background-color: var(--tablehead-bg-color);
  color: #ffffff;
}

.upload-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.locationpicture {
  width: 170px;
  height: 150px;
  border-radius: 8px;
}

.uploadlabel {
  background-color: var(--tablehead-bg-color);
  color: #ffffff;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.upload-btn {
  padding: 0 5px;
}

mat-icon.upload-btn {
  font-size: 25px;
}

div.upload-btn {
  font-size: 15px;
}

.enrolldevice {
  background: transparent;
  width: 100%;
  height: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: #39408a 2px solid;
  font-size: 15px;
  color: #ffffff;
}

.rect1 {
  display: block;
  float: left;
  width: 45%;
}
.rect2 {
  display: block;
  float: right;
  width: 45%;
}

.footer {
  width: 100%;
  margin-top: 40px;
}

.footer > .btn {
  margin: 0 40px;
}
