<div class="content-wrapper">
  <nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top">
    <div class="navbar-menu-wrapper align-items-center">
      <ul class="navbar-nav">
        <li class="navtitle">
          <p class="gfont whitefont">회원관리</p>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="card">
      <div class="table-responsive">
        <h5 class="card-title">회원관리</h5>
        <table class="table table-dark table-striped">
          <thead>
            <tr class="tabletr">
              <th class="tableth">
                회원아이디
              </th>
              <th class="tableth">
                이름
              </th>
              <th class="tableth">
                연락처
              </th>
              <th class="tableth">
                이메일
              </th>
              <th class="tableth">
                등록일자
              </th>
              <th class="tableth">
                관리자권한
              </th>
              <th class="tableth">
                변경
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of getallusersdata[0]">
              <td class="tabletd">
                {{i.username}}
              </td>

              <td class="tabletd">
                {{i.name}}
              </td>

              <td class="tabletd">
                {{i.phone}}
              </td>

              <td class="tabletd">
                {{i.email}}
              </td>

              <td class="tabletd">
                {{i.createTime}}
              </td>

              <td class="tabletd">
                <input class="toggleinput" [checked]="checking" value="ch" type="checkbox" id="switch"
                  (click)="getCheckboxValue()" />
                <label class="togglelabel" for="switch"></label>
              </td>

              <td class="tabletd">
                <ul class="modify">
                  <li>
                    <button class="modifying">
                      <i class="menu-icon mdi mdi-pencil-box-outline" (click)="getOneUser()"></i>
                    </button>
                  </li>
                  <li>
                    <button class="modifying">
                      <i class="menu-icon mdi mdi-delete" (click)="deleteoneUser()"></i>
                    </button>
                  </li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<div [ngClass]="modal2 ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">회원수정</h5>

        <form [formGroup]="deviceenrollForm" (ngSubmit)="modifyonedevice()" novalidate>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="디바이스Id" formControlName="deviceId" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="기기명" formControlName="name" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="모델명" formControlName="model" />
          </div>

          <div class="inputDiv" style="display: flex;">
            <input class="enrolldevice" type="text" placeholder="설치장소" formControlName="location" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="설치일" formControlName="installDate" />
          </div>





          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="통신방식" formControlName="communicateMethod" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="메모" formControlName="userMemo" />
          </div>



          <div class="modal_footer">
            <button class="footerbutton" tabindex="10" type="button" (click)="clickedModal2Close()">취소</button>
            <button class="footerbutton" tabindex="11" type="submit">기기수정</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>