<div class="content-wrapper">
  <nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top">
    <div class="navbar-menu-wrapper align-items-center">
      <ul class="navbar-nav">
        <li class="navtitle">
          <p class="gfont whitefont">회원관리</p>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="card">
      <h5 class="card-title">회원관리</h5>

      <div class="table-responsive">
        <div class="devicetitle">
          <div class="pt-1">
            <button class="btn" (click)="clickedModal()">
              <i class="menu-icon mdi mdi-plus"></i>
              회원 등록
            </button>
          </div>
        </div>
        <table class="table table-dark table-striped">
          <thead>
            <tr class="tabletr">
              <th class="tableth">
                회원이메일
              </th>
              <th class="tableth">
                이름
              </th>
              <th class="tableth">
                연락처
              </th>
              <th class="tableth">
                이메일
              </th>
              <th class="tableth">
                등록일자
              </th>
              <th class="tableth">
                관리자권한
              </th>
              <th class="tableth">
                변경
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of getallusersdata[0];let index = index">
              <td class="tabletd font-weight-medium">
                {{i.username}}
              </td>
              <td class="tabletd">
                {{i.name}}
              </td>
              <td class="tabletd">
                {{i.phone}}
              </td>
              <td class="tabletd">
                {{i.email}}
              </td>
              <td class="tabletd">
                {{i.createTime}}
              </td>

              <td class="tabletd">
                <input class="toggleinput" [checked]="i.is_superuser" type="checkbox" id="{{index}}"
                  (click)="modifymanager(index)" />
                <label class="togglelabel" for="{{index}}"></label>
              </td>

              <td class="tabletd">
                <ul class="modify">
                  <li>
                    <button class="modifying">
                      <i class="menu-icon mdi mdi-pencil-box-outline" (click)="getOneUser(index)"></i>
                    </button>
                  </li>
                  <li>
                    <button class="modifying">
                      <i class="menu-icon mdi mdi-delete" (click)="deleteoneUser(index)"></i>
                    </button>
                  </li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<div [ngClass]="modal ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">회원등록</h5>

        <form [formGroup]="registeruserForm" (ngSubmit)="registerUser()" novalidate>

          <div class="inputDiv">
            <p class="inputtitle">[커스터머코드]</p>
            <input class="enrolldevice" type="text" formControlName="customerCode" />
          </div>
          <div class="inputDiv">
            <p class="inputtitle">[이메일]</p>
            <input class="enrolldevice" type="text" formControlName="username" />
          </div>
          <div class="confirmpasswordbox" *ngIf="registeruserForm.touched"
            [hidden]="!registeruserForm.hasError('required', 'username') ">
            <p>이메일을 입력해주세요</p>
          </div>
          <div class="confirmpasswordbox" [hidden]="!registeruserForm.hasError('pattern','username')">
            <p>이메일 형식이 아닙니다.</p>
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[이름]</p>
            <input class="enrolldevice" type="text" formControlName="name" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[연락처]</p>
            <input class="enrolldevice" type="text" formControlName="phone" />
          </div>

          <div formGroupName="passwordGroup">
            <div class="inputDiv">
              <p class="inputtitle">[패스워드]</p>
              <input class="enrolldevice" type="password" formControlName="password" autocomplete="off" />
            </div>

            <div class="inputDiv">
              <p class="inputtitle">[패스워드확인]</p>
              <input class="enrolldevice" type="password" formControlName="passwordconfirm" autocomplete="off" />
            </div>

            <div class="confirmpasswordbox" [hidden]="!registeruserForm.hasError('equal','passwordGroup')">
              <p>패스워드가 다릅니다</p>
            </div>
          </div>

          <div class="modal_footer">
            <button class="footerbutton" tabindex="10" type="button" (click)="clickedModalClose()">취소</button>
            <button [ngClass]="!registeruserForm.valid ? 'nonactivebutton' : 'footerbutton' " tabindex="11"
              type="submit" [disabled]="!registeruserForm.valid">회원등록</button>
          </div>

          <div class="confirmpasswordbox"
            [hidden]="!registeruserForm.hasError('required',['passwordGroup','password']) && !registeruserForm.hasError('required',['passwordGroup','passwordconfirm']) ">
            <p>패스워드를 입력해주세요</p>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

<div [ngClass]="modal2 ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">회원수정</h5>

        <form [formGroup]="modifyuserForm" (ngSubmit)="modifyoneUser()" novalidate>

          <div class="inputDiv">
            <p class="inputtitle">[이메일]</p>
            <input class="enrolldevice" type="text" formControlName="username" />
          </div>
          <div class="confirmpasswordbox" [hidden]="!modifyuserForm.hasError('pattern','username')">
            <p>이메일 형식이 아닙니다.</p>
          </div>


          <div class="inputDiv">
            <p class="inputtitle">[이름]</p>
            <input class="enrolldevice" type="text" formControlName="name" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[연락처]</p>
            <input class="enrolldevice" type="text" formControlName="phone" />
          </div>

          <div formGroupName="passwordGroup">
            <div class="inputDiv">
              <p class="inputtitle">[패스워드]</p>
              <input class="enrolldevice" type="password" formControlName="password" autocomplete="off" />
            </div>

            <div class="inputDiv">
              <p class="inputtitle">[패스워드확인]</p>
              <input class="enrolldevice" type="password" formControlName="passwordconfirm" autocomplete="off" />
            </div>

            <div class="confirmpasswordbox" [hidden]="!modifyuserForm.hasError('equal','passwordGroup')">
              <p>패스워드가 다릅니다</p>
            </div>
          </div>

          <div class="modal_footer">
            <button class="footerbutton" tabindex="10" type="button" (click)="clickedModal2Close()">취소</button>
            <button [ngClass]="!modifyuserForm.valid ? 'nonactivebutton' : 'footerbutton' " tabindex="11" type="submit"
              [disabled]="!modifyuserForm.valid">회원수정</button>
          </div>

          <div class="confirmpasswordbox"
            [hidden]="!modifyuserForm.hasError('required',['passwordGroup','password']) && !modifyuserForm.hasError('required',['passwordGroup','passwordconfirm']) ">
            <p>패스워드를 입력해주세요</p>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>