.navbar-menu-wrapper{
	background-color: #121619 !important;
}
.navbar-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.navtitle{
	margin-left: 50px;
}
.navtitle p {
	margin-top: 20px;
	color: #ffffff;
	font-size: 37px;
	font-weight: 700;
}
.card{
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}
.card{
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%; 
	height: 100%; 
	background-color: #282b30; 
	padding: 50px;
}
.card-title{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
}
.table-responsive{
	width: 100%; 
	overflow: auto; 
	white-space:nowrap; 
	border-collapse:collapse
}
.table-dark{
	table-layout: fixed;
}
.tabletr{
	background-color: #5156be;
}
.tableth{
	font-size: 18px;
}
.tabletd{
	font-size: 15px;
}

.toggleinput[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.togglelabel {
	margin-left: 60px;
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.togglelabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.toggleinput:checked + label {
	background: #5156be;
}

.toggleinput:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.togglelabel:active:after {
	width: 30px;
}

td{
	text-align: center;
	align-items: center;
	justify-content: center;
}
ul{
	list-style: none;
	text-align: center;
}
li{
	display: inline-block;
}
.modifying{
	background-color: #5156be;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	margin-left: 20px;
}
.mdi-pencil-box-outline{
	font-size: 20px; 
	color: #ffffff; 
	margin-top: 10px;
}
.mdi-delete{
	font-size: 20px; 
	color: #ffffff;
}