.navbar-menu-wrapper{
	background-color: #121619 !important;
}
.navbar-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.navtitle{
	margin-left: 50px;
}
.navtitle p {
	margin-top: 20px;
	color: #ffffff;
	font-size: 37px;
	font-weight: 700;
}
.card{
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}
.card{
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%; 
	height: 100%; 
	background-color: #282b30; 
	padding: 50px;
}
.card-title{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
}
.table-responsive{
	width: 100%; 
	overflow: auto; 
	white-space:nowrap; 
	border-collapse:collapse
}
.table-dark{
	table-layout: fixed;
}
.tabletr{
	background-color: #5156be;
}
.tableth{
	font-size: 18px;
}
.tabletd{
	font-size: 15px;
}

.toggleinput[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.togglelabel {
	margin-left: 60px;
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.togglelabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.toggleinput:checked + label {
	background: #5156be;
}

.toggleinput:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.togglelabel:active:after {
	width: 30px;
}

td{
	text-align: center;
	align-items: center;
	justify-content: center;
}
ul{
	list-style: none;
	text-align: center;
}
li{
	display: inline-block;
}
.modifying{
	background-color: #5156be;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	margin-left: 20px;
}
.mdi-pencil-box-outline{
	font-size: 20px; 
	color: #ffffff; 
	margin-top: 10px;
}
.mdi-delete{
	font-size: 20px; 
	color: #ffffff;
}

.modalcontainer{
	background-color: rgba(0, 0, 0, 0.6);
	border: none;
	overflow: auto;
}
.modal-title{
	color: #ffffff;
	font-weight: 600;
	font-size: 20px;
}
.modal-content{
	background-color: #282b30;
	border: none !important;
}
.deviceenrollcard{
	width: 140%;
    background-color: #282b30;
    border-radius: 10px;
    padding: 30px;
}

.enrolldevice{
    margin-top: 30px;
    background: transparent;
    width: 100%;
    height: 50px;
	border-top: none;
	border-right: none;
	border-left: none;
    border-bottom: #39408a 2px solid;
    FONT-SIZE: 15px;
    color:#ffffff;
}
.inputDiv{
    position: flex;
}
.footerbutton{
    margin: 10px;
    margin-top: 60PX;
    width: 100px;
    height: 50px;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    border-bottom: medium none;
    color: white;
    background-color: #505dff;
    border-radius: 7px;
}
button:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5); 
    position: relative; 
    top:2px;
}
.modal_footer{
	display: flex;
	justify-content: center;
	align-items: center;
}