.popup-container {
  /* padding: 20px; */
  width: 100%;
  /* height: calc(100vh - 350px); */
}
.popup-container::-webkit-scrollbar {
  display: none;
}

.SelTab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SekTab > div {
  width: 100%;
}

th,
td {
  height: 60px;
  box-sizing: border-box;
}
td {
  height: 60px !important;
}

.tab {
  display: block;
  height: 100%;
  width: 100%;
}

.tab-input {
  height: 20%;
}
.togglecontroller {
  width: 100%;
  text-align: right;
}

.upload-container {
  display: flex;

  align-items: center;

  padding-block: 40px;
}

.upload-container > mat-form-field {
  padding: 0 20px;
}

.upload-container > mat-form-field.input1 {
  width: 20%;
}

.upload-container > mat-form-field.input1 {
  width: 40%;
}

.demo-button {
  /* display: flex; */
  /* justify-content: center; */
  width: auto;
  color: #ffffff;
  background-color: var(--tablehead-bg-color);
  border-radius: 8px;
  font-size: 1rem;
  padding: 7px 50px;
}

.btn1 {
  width: auto;
  color: var(--side-hover-bg);
}

mat-icon.size {
  font-size: 30px;
}

button {
  width: 0;

  border: transparent;
  background-color: transparent;
  padding: 0;
}

.datatable {
  width: 100%;
  height: 550px;
  padding-top: 20px;
}

@media (max-width: 1290px) {
  .SelTab > div {
    width: 100%;
  }
  .datatable {
    height: fit-content;
    padding-top: 10px
  }
  .mat-tab-labels {
    font-size: 1rem !important;
  }
  .upload-container {
    flex-direction: column;
    padding: 1.8rem 1rem 0;
  }
  .upload-container :is(mat-form-field.input1, mat-form-field.input2) {
    width: 100%;
    padding: 0;
  }
  .datatable th {
    min-width: 0;
  }
  .datatable td {
    height: 46px !important;
  }
  .datatable td button {
    font-size: 1rem;
    min-width: 3rem;
    line-height: 28px;
  }
  .datatable td .chagne-btn mat-icon.btn {
    margin-inline: 8px;
  }
  .demo-button {
    margin-top: 2rem;
    height: 36px;
    padding: 0 15px;
    font-weight: 600;
  }
}
@media (max-width: 576px) {
}