<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">



    <mat-radio-button class="example-radio-button" (click)="openDialog()">


        <img class="filter" src="../../../../assets/images/dashboardicons/알람설정.svg" />
        <div class="menuName">알람설정</div>

    </mat-radio-button>



    <mat-radio-button class="example-radio-button" (click)="logout()">


        <img class="filter" src="../../../../assets/images/dashboardicons/로그아웃.svg" />
        <div class="menuName">로그아웃</div>

    </mat-radio-button>





</mat-radio-group>