<mat-nav-list>
    <a mat-list-item (click)="openDialog()">
        <!-- <img class="filter" src="../../../../assets/images/dashboardicons/작동중.png" /> -->
        <div class="sideImg">
            <img class="filter" src="../../../../assets/images/dashboardicons/작동중.png" />
        </div>
        <a class="font sidemenu" (click)="openDialog()">
            알람설정
        </a>
    </a>
    <a mat-list-item (click)="logout()">
        <div class="sideImg">
            <img class="filter" src="../../../../assets/images/dashboardicons/로그아웃.png" />
        </div>
        <a class="font sidemenu">
            로그아웃
        </a>
    </a>
</mat-nav-list>
