<div class="full-page-wrapper page-body-wrapper contain" style="background-color: black;">
    <div style="width: 20%;">

        <div class="registercard">
            <p class="title">비밀번호찾기</p>

            <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpassword()" novalidate>
                <div class="inputDiv">
                    <input type="text" placeholder="Id" formControlName="username" tabindex="1" />
                </div>
                <button class="singin abtn" tabindex="2" type="submit">비밀번호찾기</button>
            </form>

        </div>

        <div class="another">
            <button class="anotherbutton abtn" (click)="gologin()">취소</button>
        </div>

    </div>
</div>