<div class="modalDiv">

    <h2 class="font">회원수정</h2>

    <form class="container" [formGroup]="modifyuserForm" (ngSubmit)="modifyoneUser()" novalidate>

        <mat-form-field appearance="outline">
            <mat-label>아이디</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>이름</mat-label>
            <input matInput placeholder="홍길동" formControlName="name">
        </mat-form-field>  

        <mat-form-field appearance="outline">
            <mat-label>연락처</mat-label>
            <input matInput placeholder="01012345678" formControlName="phone">
        </mat-form-field>  

        <mat-form-field appearance="outline">
            <mat-label>이메일</mat-label>
            <input matInput placeholder="01012345678" formControlName="email">
            <mat-hint>비밀번호 분실시 이용됩니다</mat-hint>
        </mat-form-field> 

        <div formGroupName="passwordGroup">

            <mat-form-field appearance="outline">
                <mat-label>비밀번호 입력</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off"/>
                    <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>비밀번호 확인</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordconfirm" autocomplete="off"/>
                    <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint [hidden]="!modifyuserForm.hasError('equal','passwordGroup')">패스워드가 다릅니다</mat-hint>
            </mat-form-field>
        
        </div>

        <div class="modal_footer">
            <button mat-flat-button color="primary" [disabled]="!modifyuserForm.valid">수정</button>
        </div>
    </form>
    <button mat-stroked-button color="primary" class="backbtn" (click)="onNoClick()">돌아가기</button>
     
</div>