.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.gfont {
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 37px;
    font-weight: 700;
    margin-left: 50px;
}

.toggleinput {
    left: 100%;
}