.title {
  margin: 20px;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
}

.titletime {
  top: 11px;
  left: 137px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  color: #61676b;
}

.darktoggle {
  position: absolute;
  margin: 20px;
  right: 15px;
  width: flex;
  position: absolute;
  height: 40px;
}
