<div class="content-wrapper">

  <!--   
  <div class="row" style="height: 20%;">
    <h1>안녕하세요</h1>
  </div> -->


  <div class="row" style="height: 100%;">

    <div class="col" style="width: 50%; height: auto;">
      <div class="row" style="width: 100%; height: 400px;">
        <div class="col" style="width: 40%; height: 400px;">
          <!-- <div style="background-color: aqua; height: 100%;">11</div> -->
          <div class="card firstcard">
            <h5 class="card-title">총 비상벨</h5>


            <div class="innercard1" style="width: 95%; height: 40%; background-color: #5156be;">
              <i class="menu-icon mdi mdi-alarm-light" style="color: #ffffff; font-size: 60px;"></i>
              <p class="innerfont1">39/50</p>
              <p class="innerfont2">정상작동중</p>
            </div>

            <div class="innercardcon" style="width: 100%; height: 90%;">
              <div class="innercard2" style="width: 45%; height: 90%; background-color: #1a1f71;">
                <p class="innerfont1">1</p>
                <i class="menu-icon mdi mdi-alarm-light" style="color: #ffffff; font-size: 50px;"></i>
                <p class="innerfont2">비활성화</p>
              </div>
              <div class="innercard2" style="width: 45%; height: 90%; background-color: #1a1f71;">
                <p class="innerfont1">1</p>
                <i class="menu-icon mdi mdi-alarm-light" style="color: #ffffff; font-size: 50px;"></i>
                <p class="innerfont2">기타</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col" style="width: 60%; height: 400px; ">

          <div class="card secondcard" style="width: 100%; height: 100%; background-color: #282b30; padding: 15px;">
            <h5 class="card-title">최근 감지 내역</h5>
            <div class="table-responsive"
              style="width: 100%; overflow: auto; white-space:nowrap;border-collapse:collapse">
              <table class="table table-dark " style="table-layout: fixed;">
                <thead>
                  <tr style="background-color: #5156be">
                    <th style="font-size: 14px;">
                      위험등급
                    </th>
                    <th style="font-size: 14px;">
                      위치
                    </th>
                    <th style="font-size: 14px;">
                      시간
                    </th>
                    <th style="font-size: 14px;">
                      처리상황
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let log of noticeList">
                    <td class="font-weight-medium" style="font-size: 12px;">
                      <div class="iconcircle1" id="fixing"><i class="menu-icon mdi mdi-shield-outline"
                          style="font-size: 20px; color: #ffffff;"></i></div>
                    </td>
                    <td style="font-size: 12px;">
                      {{sites[devices[log.deviceid].siteId].name}}
                    </td>
                    <td class="text-danger" style="font-size: 12px;">
                      {{log.datetime}}
                    </td>
                    <td style="font-size: 12px;">
                      ...
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div class="row" style="width: 100%; height: 500px; margin-top: 18px;">
        <div class="card thirdcard" style="width: 150%; height: 100%; background-color: #282b30;">
          <h4 class="card-title">스마트벨 설치 현황</h4>
          <div id='map' style="width: 95%;height: 78%; border-radius: 10px;"></div>
          <!-- <ng-mapbox></ng-mapbox>
              <agm-map [latitude]="35.25228" [longitude]="126.8633" [zoom]="16" [disableDefaultUI]="false" [zoomControl]="false">
                <agm-marker [latitude]="35.25228" [longitude]="126.8633">
                  <agm-info-window>location 1</agm-info-window>
                </agm-marker>
              </agm-map> -->
        </div>
      </div>

      <!-- 디바이스 넘버 -->
      <div class="row" style="width: 100%; height: 300px; margin-top: 18px;">
        <div class="card fourthcard">
          <div class="circlecontainer">

            <div id="circlebox">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="fixing"><i class="menu-icon mdi mdi-settings"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹1</p>
              </div>
            </div>

            <div id="circlebox">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="normal"><i class="menu-icon mdi mdi-alarm-light"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹2</p>
              </div>
            </div>

            <div id="circlebox">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="normal"><i class="menu-icon mdi mdi-alarm-light"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹3</p>
              </div>
            </div>

            <div id="circlebox" style="display: block;">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="fixing"><i class="menu-icon mdi mdi-settings"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹4</p>
              </div>
            </div>

            <div id="circlebox" style="display: block;">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="fixing"><i class="menu-icon mdi mdi-settings"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹5</p>
              </div>
            </div>

            <div id="circlebox" style="display: block;">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="fixing"><i class="menu-icon mdi mdi-settings"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹6</p>
              </div>
            </div>

            <div id="circlebox" style="display: block;">
              <div id="incircle">
                <p class="circletitle">디바이스넘버</p>
                <div class="iconcircle" id="fixing"><i class="menu-icon mdi mdi-settings"
                    style="font-size: 50px; color: #ffffff;"></i></div>
                <p class="circlestatus">킹7</p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <!-- 스마트벨 설치 현황 -->
    </div>

    <div class="col" style="width: 50%;">
      <div class="row" style=" height: 400px; background-color: #282b30; ">
        <div id="chartdiv"></div>
      </div>

      <div class="row" style="width: 100%; height: 817px; margin-top: 18px; display: block !important;">
        <div class="card" style="width: 100%; height: 100%; background-color: #282b30; padding: 50px;">
          <div class="table-responsive"
            style="width: 100%; overflow: auto; white-space:nowrap;border-collapse:collapse">
            <h5 class="card-title">전체 감지 내역</h5>
            <table class="table table-dark table-striped" style="table-layout: fixed;">
              <thead>
                <tr style="background-color: #5156be">
                  <th style="font-size: 18px;">
                    deviceid
                  </th>
                  <th style="font-size: 18px;">
                    name
                  </th>
                  <th style="font-size: 18px;">
                    time
                  </th>
                  <th style="font-size: 18px;">
                    type
                  </th>
                  <th style="font-size: 18px;">
                    location
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of alldetectiondata[0]">
                  <td class="font-weight-medium" style="font-size: 15px;">
                    {{i.deviceid}}
                  </td>
                  <td style="font-size: 15px;">
                    {{i.name}}
                  </td>
                  <td style="font-size: 15px;">
                    {{i.time}}
                  </td>
                  <td style="font-size: 15px;">
                    {{i.type}}
                  </td>
                  <td style="font-size: 15px;">
                    {{i.location}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>




</div>