.nodata {
    margin: auto;
    margin-top: 100px;
    width: 200px;
    color: #7f7f7f;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
}

#bells {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

.navbar-menu-wrapper {
    background-color: #121619 !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.navtitle {
    margin-left: 50px;
}

.navtitle p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 37px;
    font-weight: 700;
}

#events {
    width: 100%;
    height: 500px;
}

div.card {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}

.main-panel {
    box-shadow: none;
}

body {
    box-shadow: none !important;
}

#onerow {
    width: 100%;
    height: 35vh;
    max-height: 470px;
}

#tworow {
    width: 100%;
    height: 50.7vh;
    margin-top: 18px;
}

#alldetectionrow {
    width: 100%;
    height: 35vh;
    max-height: 470px;
    display: block !important;
}

.charttitlecard {
    width: 100%;
    height: 5vh;
    margin-top: 18px;
}

#chartrow {
    width: 100%;
    height: 46.8vh;
    background-color: #282b30;
}

.firstcard {
    width: 100%;
    height: 100%;
    background-color: #282b30;
    display: flex;
}

.flexbox1 {
    display: flex;
    width: 80%;
    height: 40%;
    background-color: #5156be;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 3px solid #3d41a1;
}

.flexbox2 {
    display: flex;
    width: 80%;
    height: 40%;
    background-color: #5156be;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.innercard1 {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.innercard1-total {
    cursor: pointer;
    position: relative;
    margin: auto;
    background-color: #2b2fa0;
    box-shadow: #4b4a50;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 9px;
}

.rightborder {
    border-right: 3px solid #3d41a1;
}

.gfont {
    /* width: 90px; */
    align-items: center;
}

.secondcard {
    width: 100%;
    height: 100%;
    background-color: #282b30;
    padding: 15px;
}

.table-time {
    width: 20%;
}

.table-type {
    width: 20%;
}

.table-responsive {
    width: 90%;
    overflow: auto;
    white-space: nowrap;
    border-collapse: collapse;
}

.table-dark {
    table-layout: fixed;
}

.tabletr {
    background-color: #5156be
}

.tableth {
    font-size: 17px;
}

.tabletd {
    font-size: 15px;
    white-space: normal;
    font-family: 'IBM Plex Sans KR', sans-serif;
    line-height: 1.5rem;
}

.mdi-shield-outline {
    font-size: 20px;
    color: #ffffff;
}

.tableth2 {
    font-size: 18px;
}

.tabletd2 {
    font-size: 15px;
}

.thirdcard {
    width: 150%;
    height: 100%;
    background-color: #282b30;
}

.imgmap {
    width: 70%;
    height: 80%;
}

.fourthcard {
    display: flex;
    flex-direction: row;
    align-items: space;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #282b30;
}

.fifthcard {
    width: 100%;
    height: 100%;
    background-color: #282b30;
    padding: 50px;
}

.charttitlecard {
    margin-top: 18px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    width: 100%;
    height: 50px;
    background-color: #282b30;
    color: white;
}

.charttitlecard2 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    width: 100%;
    height: 40px;
    background-color: #282b30;
    color: white;
}

.fluid-container {
    margin-right: 15px;
}

.btn:click {
    background-color: turquoise !important;
}

.sound {
    display: flex;
    list-style: none;
}

.soundtitle {
    color: #888888;
    width: 20%;
}

.sounditem {
    color: black;
    margin-left: 50px;
}

#map {
    width: 100%;
    height: 400px;
}

.musictitle {
    list-style: none;
    display: flex;
    text-align: center;
    font-size: 23px;
    font-family: fantasy;
}

.musiccontent {
    list-style: none;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

.nonvisible {
    background-color: transparent;
    border: 0px transparent solid;
}

.musiccontent:hover {
    background-color: #dff0d8;
}

.clicked {
    background-color: #dff0d8;
}


/* 사운드카드 */

#soundcard {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-top: 550px;
}


/* 색상 */

#color {
    width: 100%;
    list-style: none;
    display: inline;
}

#color li {
    display: inline;
}

#scream {
    width: 12px;
    height: 12px;
    background-color: hsla(5, 100%, 50%, 0.5);
    display: inline-flex;
}

#slip {
    width: 12px;
    height: 12px;
    background-color: hsla(150, 100%, 30%, 0.5);
    display: inline-flex;
}

#help {
    width: 12px;
    height: 12px;
    background-color: hsla(80, 100%, 30%, 0.5);
    display: inline-flex;
}

#violent {
    width: 12px;
    height: 12px;
    background-color: hsla(300, 100%, 30%, 0.5);
    display: inline-flex;
}

.avatarcon {
    margin-top: 50px;
    width: 100%;
    height: 300px !important;
    display: flex;
}

.card {
    display: flexbox;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.card-title {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: auto;
    width: 70% !important;
}

.doughnut {
    border: 10px solid #ffffff;
    border-radius: 100px;
}

.circlecontainer {
    overflow-x: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

#circlebox {
    display: block;
    margin: 15px;
}

#incircle {
    border: 10px solid #5151cc;
    margin: auto;
    background-color: #4b4a50;
    width: 190px;
    height: 190px;
    border-radius: 95px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.iconcircle {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.iconcircle1 {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#fixing {
    background-color: #ffa14d;
}

#normal {
    background-color: #5dc276;
}

.circlestatus {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.menu-icon {
    color: #ffffff;
    font-size: 30px;
    white-space: nowrap;
    text-overflow: auto;
}

.innerfont1 {
    font-size: 23px;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
    text-overflow: auto;
}

.innerfont2 {
    font-size: 27px;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
    text-overflow: auto;
}

.innerfont3 {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.innercardcon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

#chartdiv {
    padding-top: 15px;
    width: 100%;
    height: 95%;
}

.modalcontainer {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    overflow: auto;
}

.modal-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

.modal-content {
    background-color: #282b30;
    border: none !important;
}

.deviceenrollcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 140%;
    background-color: #282b30;
    border-radius: 10px;
    padding: 30px;
}

.footerbutton {
    margin: 10px;
    margin-top: 60PX;
    width: 100px;
    height: 50px;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    border-bottom: medium none;
    color: white;
    background-color: #505dff;
    border-radius: 7px;
}

.btn-group {
    margin-left: 20px;
    border: none;
}

.dropdown-toggle {
    background-color: #505dff;
    color: white;
}

.firstbox {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.secbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardbox {
    width: 50%;
    height: 50%;
}

.halfcol1 {
    width: 49%;
    height: 100%;
}

.halfcol2 {
    width: 49%;
    height: 100%;
}

.row {
    padding: none;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .halfcol1 {
        width: 100vw;
        display: block;
    }
    .halfcol2 {
        margin-top: 30px;
        width: 100vw;
        display: block;
    }
}