<div class="container-table">

    <div class="demo-button-container">
        <button mat-raised-button (click)="clickedaddModal()" class="demo-button">
            고객사등록
        </button>
    </div>

    <section class="example-container mat-elevation-z8 margin20px-t" tabindex=" 0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="customerName">
                <th class="left" mat-header-cell *matHeaderCellDef> 고객사명 </th>
                <td class="left" mat-cell *matCellDef="let element"> {{element.customerName}} </td>
            </ng-container>

            <ng-container matColumnDef="staffName">
                <th mat-header-cell *matHeaderCellDef> 담당자명 </th>
                <td mat-cell *matCellDef="let element"> {{element.staffName}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> 연락처 </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="numDevice">
                <th smat-header-cell *matHeaderCellDef> 단말기수 </th>
                <td mat-cell *matCellDef="let element"> {{element.numDevice}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> 상태 </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="payMethod">
                <th mat-header-cell *matHeaderCellDef> 결제방식 </th>
                <td mat-cell *matCellDef="let element"> {{element.payMethod}} </td>
            </ng-container>

            <ng-container matColumnDef="alarm">
                <th mat-header-cell *matHeaderCellDef> 알람 </th>
                <td mat-cell *matCellDef="let element" class="alarm">
                    <li>
                        <label>
                            <input type="checkbox" [checked]="element?.alarm?.popup" disabled>
                            <mat-icon class="mat" aria-hidden="true">desktop_windows</mat-icon>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" [checked]="element?.alarm?.email" disabled>
                            <mat-icon class="mat" aria-hidden="true">email</mat-icon>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" [checked]="element?.alarm?.sms" disabled>
                            <mat-icon class="mat" aria-hidden="true">sms</mat-icon>
                        </label>
                    </li>
                </td>
            </ng-container>

            <ng-container matColumnDef="change">
                <th class="right" mat-header-cell *matHeaderCellDef> 변경 </th>
                <td class="right" mat-cell *matCellDef="let element">
                    <div class="chagne-btn">
                        <mat-icon class="btn" (click)="clickedregModal(element)">edit</mat-icon>
                        <mat-icon class="btn" (click)="deletedata(element)">delete</mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</div>
