<div id="outer-grid">
    <div class="font">
        <div style="text-align: right;">

            <button class="font plus" (click)="clickedModal()">
                고객사 등록
            </button>
        </div>

        <div>
            <div class="unit unittitle">
                <div>
                        <div>고객사명</div>
                        <div>담당자</div>
                        <div>연락처</div>
                        <div>단말기수</div>
                        <div>상태</div>
                        <div>결제방식</div>
                        <div>알람</div>
                        <div>변경</div>
                </div>
            </div>

            <div class="unit">
                <div id="unitDiv" *ngFor="let i of getcustomersdata; let index = index">
                    <div>{{i.customerName}}</div>
                    <div>{{i.staffName}}</div>
                    <div>{{i.phone}}</div>
                    <div>{{i.numDevice}}</div>
                    <div>{{i.status}}</div>
                    <div>{{i.payMethod}}</div>
                    <div>
                        <!-- <input class="toggleinput" [checked]="i.is_superuser" type="checkbox" id="{{index}}" (click)="modifymanager(index)" />
                        <label class="togglelabel abtn" for="{{index}}"></label> -->
                        <!-- <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle> -->
                        <mat-slider min="1" max="100" step="1" value="50">dd</mat-slider>
                    </div>
                    <a id="buttonDiv">
                        <div>
                            <button class="mdi mdi-pencil-box-outline" (click)="getOneUser(index)"></button>
                        </div>
                        <div>
                            <button class="mdi mdi-delete" (click)="deleteoneUser(index)"></button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>