<div class="font" style="min-width: 270px;">
    <h2>전체 감지 내역</h2>
    <div class="table">
        <div class="unit unittitle">
        <div class="unitunit">
                <div>시간</div>
                <div>설치장소</div>
                <div>타입</div>
        </div>
    </div>
        <div class="unit">
            <div class="unitunit" [hidden]="socketrecentdata.length === 0" *ngFor="let i of socketrecentdata; let index = index">
                    <div>{{i.time}}</div>
                    <div>{{i.location}}</div>
                    <div>{{i.type}}</div>
            </div>
        </div>
    </div>
</div>