<!-- <div class="font" style="min-width: 270px; width:40vw;">
    <div>
        <div class="unit unittitle">
        <div>
                <div>시간</div>
                <div>설치장소</div>
                <div>타입</div>
        </div>
    </div>
        <div class="unit tnhhable">
            <div [hidden]="socketrecentdata.length === 0" *ngFor="let i of socketrecentdata; let index = index">
                <div *ngFor="let i of socketrecentdata; let index = index">
                    <div>{{i.time}}</div>
                    <div>{{i.location}}</div>
                    <div>{{i.type}}</div>
            </div>
        </div>
    </div>
</div> -->

<div>
  <table class="senssing" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="time">
      <th class="left" smat-header-cell *matHeaderCellDef> 시간 </th>
      <td class="left" mat-cell *matCellDef="let element">{{element.time}}</td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th smat-header-cell *matHeaderCellDef> 설치장소 </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th class="right" mat-header-cell *matHeaderCellDef> 타입 </th>
      <td class="right" mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
