.sensingtable {
  position: grid;
}

.sensingunit {
  padding: 30px;
}

.unittitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;
  background-color: #438ffe;
  border-radius: 10px 10px 0px 0px;
}

.unitunit > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
