<div class="popup-container">
    <div class="header">
        회원 등록
    </div>

    <div class="form">
        <form [formGroup]="Form" (ngSubmit)="submit()">

            <mat-form-field appearance="fill">
                <mat-label>아이디</mat-label>
                <input matInput formControlName="username">
                <button mat-button matSuffix color="primary" type="button" (click)="idCheck()"
                    [disabled]="Form.hasError('pattern','username') || Form.hasError('required', 'username')">
                    중복확인
                </button>
                <mat-hint class="noticeCheck" [hidden]="!NonCheck">중복확인을 눌러주세요</mat-hint>
                <mat-hint class="trueCheck" [hidden]="!passIdMsg">사용 가능한 아이디 입니다</mat-hint>
                <mat-hint class="falseCheck" [hidden]="!errorIdMsg">사용 할 수 없는 아이디 입니다</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>이름</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>고객사명</mat-label>
                <mat-select formControlName="customerName">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let i of customerNames" [value]="i">
                        {{i}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>연락처</mat-label>
                <input matInput formControlName="phone">
                <mat-hint class="noticeCheck">입력 시 10~11자리 숫자만 입력해주세요</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>이메일</mat-label>
                <input matInput formControlName="email">
                <mat-hint class="noticeCheck">비밀번호 분실시 이용됩니다</mat-hint>
            </mat-form-field>

            <div formGroupName="passwordGroup">

                <mat-form-field appearance="fill">
                    <mat-label>비밀번호 입력</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>비밀번호 확인</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordconfirm"
                        autocomplete="off" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint class="falseCheck" [hidden]="!Form.hasError('equal','passwordGroup')">패스워드가 일치하지 않습니다
                    </mat-hint>
                    <mat-hint *ngIf="" class="trueeCheck" [hidden]="Form.hasError('equal','passwordGroup')">패스워드가 일치합니다
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="footer">
                <button class="btn" mat-flat-button color="primary" type="submit"
                    [disabled]="!Form.valid || !passIdMsg">등록</button>
                <button class="btn" mat-stroked-button color="primary" type="button" (click)="onNoClick()">돌아가기</button>
            </div>
        </form>
    </div>
</div>
