<div class="full-page-wrapper page-body-wrapper contain">
    <div class="cardbox">

        <div class="registercard">
            <p class="title">내 정보 수정</p>

            <form [formGroup]="modifyuserForm" (ngSubmit)="modifyoneUser()" novalidate>
                <div class="inputDiv">
                    <p class="inputtitle">[아이디] 수정불가능</p>
                    <input readonly class="noneactive" type="text" formControlName="username" />
                </div>

                <div class="inputDiv">
                    <p class="inputtitle">[이름]</p>
                    <input class="enrolldevice" type="text" formControlName="name" />
                </div>

                <div class="inputDiv">
                    <p class="inputtitle">[연락처]</p>
                    <input class="enrolldevice" type="text" formControlName="phone" />
                </div>

                <div formGroupName="passwordGroup">
                    <div class="inputDiv">
                        <p class="inputtitle">[패스워드]</p>
                        <input
                            [ngClass]="(modifyuserForm.controls.passwordGroup.valid || !modifyuserForm.controls.passwordGroup.touched) ? 'enrolldevice' : 'nonenrolldevice'"
                            type="password" formControlName="password" autocomplete="off" />
                    </div>

                    <div class="inputDiv">
                        <p class="inputtitle">[패스워드확인]</p>
                        <input
                            [ngClass]="(modifyuserForm.controls.passwordGroup.valid || !modifyuserForm.controls.passwordGroup.touched) ? 'enrolldevice' : 'nonenrolldevice'"
                            type="password" formControlName="passwordconfirm" autocomplete="off" />
                    </div>


                    <div class="confirmpasswordbox" [hidden]="!modifyuserForm.hasError('equal','passwordGroup')">
                        <p>패스워드가 다릅니다</p>
                    </div>
                </div>

                <div class="modal_footer">
                    <button [ngClass]="!modifyuserForm.valid ? 'nonactivebutton' : 'footerbutton abtn' " tabindex="11"
                        type="submit" [disabled]="!modifyuserForm.valid">수정</button>
                </div>
                <div class="confirmpasswordbox" *ngIf="modifyuserForm.controls.passwordGroup.touched"
                    [hidden]="!modifyuserForm.hasError('required',['passwordGroup','password']) ">
                    <p>패스워드를 입력해주세요</p>
                </div>



            </form>
        </div>

        <div class="another">
            <button class="anotherbutton abtn" (click)="gologin()">돌아가기</button>
        </div>

    </div>
</div>