<div class="content-wrapper">
    <div class="row">
      
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Site List</h4>
                <div class="row">
                  <div class="col-12">
                    <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length" id="order-listing_length">
                            
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div id="order-listing_filter" class="dataTables_filter">
                            
                          </div>
                        </div>
                        <button class="btn btn-outline-primary" (click)="newSiteModal()" data-toggle="modal" data-target="#siteInfoModal">Add</button>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 20px;" aria-sort="ascending" aria-label="Order #: activate to sort column descending">#</th>
                          <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 60px;" aria-label="activate to sort column ascending">Name</th>
                          <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 30px;" aria-label="activate to sort column ascending">Address</th>
                          <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 60px;" aria-label="activate to sort column ascending">Location</th>
                          <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 67px;" aria-label="activate to sort column ascending">Created Date</th>
                          <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 40px;" aria-label="activate to sort column ascending">Status</th>
                          <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 35px;" aria-label="activate to sort column ascending">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr role="row" class="odd" *ngFor="let site of sites" >
                            <td class="sorting_1">{{sites.indexOf(site)}}</td>
                            <td>{{site.name}}</td>                            
                            <td>{{site.address}}</td>
                            <td>{{site.locationLat}}/{{site.locationLon}}</td>
                            <td>{{site.createdDate}}</td>
                            <td>
                              <label class="badge badge-info">{{site.status}}</label>
                            </td>
                            <td>
                              <button class="btn btn-outline-primary" data-toggle="modal" data-target="#siteInfoModal" (click)="selectSite(site)">Edit</button>
                              <button class="btn btn-outline-danger" (click)="removeSite(site)">Remove</button>
                            </td>
                        </tr></tbody>
                    </table></div></div>
                    <!-- <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="order-listing_previous"><a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          
      </div>


      <div class="modal fade" id="siteInfoModal" tabindex="-1" role="dialog" aria-labelledby="siteInfoModalLabe" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="siteInfoModalLabel">Site Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Site Information</h4>
                  <p class="card-description">
                    관리하는 지역에 대한 정보를 입력합니다.
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="siteInfoName">장소명</label>
                      <input class="form-control" id="siteName" placeholder="지역명" type="text" name="name" [(ngModel)]="site.name">
                    </div>
                    <div class="form-group">
                      <label for="siteInfoName">주소</label>
                      <input class="form-control" id="siteAddress" placeholder="주소" type="text" name="address" [(ngModel)]="site.address">
                    </div>
                    <div class="form-group">
                      <label for="siteInfoName">위치</label>
                      <input class="form-control" id="siteLocationLat" placeholder="Latitude" type="text" name="locationLat" [(ngModel)]="site.locationLat">
                      <input class="form-control" id="siteLocationLon" placeholder="Longitude" type="text" name="locationLon" [(ngModel)]="site.locationLon">
                    </div>
                    <div class="form-group">
                      <label for="siteInfoName">설치일</label>
                      <input class="form-control" id="siteCreatedDate" placeholder="설치일" type="text" name="createdDate" [(ngModel)]="site.createdDate">
                  </div>
                  </form>
                </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success mr-2" (click)="addSiteInfo()" data-toggle="modal" data-target="#siteInfoModal">추가</button>
              <button type="submit" class="btn btn-success mr-2" (click)="updateSiteInfo()" data-toggle="modal" data-target="#siteInfoModal">수정</button>
            </div>
          </div>
        </div>
      </div>

<!-- 
      <div class="col-md-4 grid-margin">
          
        </div> -->
    </div>
  </div>