mat-icon {
  font-size: 2vw;
  color: var(--profile-font-color);

  display: flex !important;
  text-align: center;
  vertical-align: middle;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

mat-nav-list > a {
  margin: 20% 0;
}

mat-nav-list > a:hover {
  background-color: transparent;
}

mat-nav-list > a:active {
  background-color: transparent;
}

mat-nav-list > a:focus {
  background-color: transparent;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

.mat-list-base .mat-list-item
/* .mat-list-base .mat-list-option .mat-list-item-content */ {
  padding: 0 !important;
}

.sidemenu {
  width: 100%;
  /* font-weight: 700 !important; */
  font-size: 1vw !important;
  color: var(--profile-font-color);

  display: flex !important;
  text-align: right;
  vertical-align: middle;
  justify-items: center;
  justify-content: right;
  align-items: center;
  align-content: center;
}
