img {
  width: 50px;
  padding: 0 20px 0 20px;
  vertical-align: middle;
  pointer-events: none;
}

.example-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-radio-button {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.example-radio-group :hover {
  width: 100%;
  background: var(--side-hover-bg);
  border-radius: 10px;
  cursor: pointer;
}

.filter {
  filter: brightness(var(--filter-svg-brightness));
}
.menuName {
  display: inline;
}

.menuName :hover {
  color: black !important;
}

@media (max-width: 1755px) {
  .example-radio-button {
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .menuName {
    display: block;
  }
}

@media (max-width: 1550px) {
  img {
    padding-bottom: 15px;
    width: 35px;
  }

  .menuName {
    font-size: 15px;
  }
}

@media (max-width: 1290px) {
  .example-radio-button {
    padding: 10px !important;
    margin: 10px 0 0 0 !important;
  }
  .example-radio-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
  }

  img {
    padding-bottom: 10px;
    width: 40px;
    filter: brightness(99999999%) !important;
  }

  .menuName {
    font-size: 15px;
    color: #ffffff;
  }
}
