<div class="content-wrapper">
  <nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top">
    <div class="navbar-menu-wrapper align-items-center">
      <ul class="navbar-nav ">
        <li class="navtitle">
          <p class="gfont whitefont">고객사관리</p>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="card">
      <h5 class="card-title">고객사관리</h5>

      <div class="table-responsive">
        <div class="devicetitle">
          <div class="pt-1">
            <button class="btn" (click)="clickedModal()">
              <i class="menu-icon mdi mdi-plus"></i>
              고객사 등록
            </button>
          </div>
        </div>
        <table class="table table-dark table-striped">
          <thead>
            <tr class="tabletr">
              <th class="tableth">
                커스터머코드
              </th>
              <th class="tableth">
                고객사명
              </th>
              <th class="tableth">
                담당자
              </th>
              <th class="tableth">
                연락처
              </th>
              <th class="tableth">
                단말기수
              </th>
              <th class="tableth">
                상태
              </th>
              <th class="tableth">
                결제방식
              </th>
              <th class="tableth">
                등록일자
              </th>
              <th class="tableth">
                알람설정
              </th>
              <th class="tableth modifyth">
                변경
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customers of getcustomersdata; let index = index">
              <td class="tabletd">
                {{customers.customerCode}}
              </td>
              <td class="tabletd font-weight-medium">
                {{customers.customerName}}
              </td>
              <td class="tabletd">
                {{customers.staffName}}

              </td>
              <td class="tabletd">
                {{customers.phone}}

              </td>
              <td class="tabletd">
                {{customers.numDevice}}

              </td>
              <td class="tabletd">
                {{customers.status}}

              </td>
              <td class="tabletd">
                {{customers.payMethod}}

              </td>
              <td class="tabletd">
                {{customers.lastModify}}
              </td>
              <td class="tabletd">

              </td>
              <td class="tabletd">
                <ul class="modify">
                  <li>
                    <button class="modifying">
                      <i class="menu-icon mdi mdi-pencil-box-outline" (click)="getOnecustomers(index)"></i>
                    </button>
                  </li>
                  <li>
                    <button class="modifying">
                      <i class="menu-icon mdi mdi-delete" (click)="deleteonecustomer(index)"></i>
                    </button>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

<div [ngClass]="modal ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">고객사등록</h5>

        <form [formGroup]="modifyclientForm" (ngSubmit)="enrollonecustomer()" novalidate>

          <div class="inputDiv">
            <div class="imgdiv">
              <img [src]="imageSrc" class="locationpicture">
              <div class="labelbox">
                <input id="bizFile" class="enrolldevice" placeholder="설치사진" type="file" accept=".jpg, .jpeg, .png"
                  (change)="onFileChange($event)" style="display: none;" />
                <label for="bizFile" class="uploadlabel">
                  <div>
                    <i class="menu-icon mdi mdi-cloud-upload"></i>
                  </div>
                  <h4 class="uploadlabeltext">사진 업로드</h4>
                </label>
              </div>
            </div>
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="고객사명" formControlName="customerName" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="담당자" formControlName="staffName" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="연락처" formControlName="phone" />
          </div>

          <div class="inputDiv" style="display: flex;">
            <input class="enrolldevice" type="text" placeholder="상태" formControlName="status" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="결제방법" formControlName="payMethod" />
          </div>

          <div class="modal_footer">
            <button class="footerbutton" tabindex="10" type="button" (click)="clickedModalClose()">취소</button>
            <button class="footerbutton" tabindex="11" type="submit">고객사등록</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

<div [ngClass]="modal2 ? 'modal fade show d-block' : 'modal fade' " tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" class="modalcontainer">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="deviceenrollcard">
        <h5 class="modal-title" id="exampleModalLabel">고객사수정</h5>

        <form [formGroup]="modifyclientForm" (ngSubmit)="modifyonecustomer()" novalidate>

          <div class="inputDiv">
            <div class="imgdiv">
              <img [src]="imageSrc" class="locationpicture">
              <div class="labelbox">
                <input id="bizFile" class="enrolldevice" placeholder="설치사진" type="file" accept=".jpg, .jpeg, .png"
                  (change)="onFileChange($event)" style="display: none;" />
                <label for="bizFile" class="uploadlabel">
                  <div>
                    <i class="menu-icon mdi mdi-cloud-upload"></i>
                  </div>
                  <h4 class="uploadlabeltext">사진 업로드</h4>
                </label>
              </div>
            </div>
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="고객사명" formControlName="customerName" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="담당자" formControlName="staffName" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="연락처" formControlName="phone" />
          </div>

          <div class="inputDiv" style="display: flex;">
            <input class="enrolldevice" type="text" placeholder="상태" formControlName="status" />
          </div>

          <div class="inputDiv">
            <input class="enrolldevice" type="text" placeholder="결제방법" formControlName="payMethod" />
          </div>

          <div class="modal_footer">
            <button class="footerbutton" tabindex="10" type="button" (click)="clickedModal2Close()">취소</button>
            <button class="footerbutton" tabindex="11" type="submit">고객사수정</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>