<div class="content-wrapper">
  <div class="row">
    <div class="card" style="width: 100%; height: 100%; background-color: #282b30; padding: 50px;">
      <div class="table-responsive" style="width: 100%; overflow: auto; white-space:nowrap;border-collapse:collapse">
        <h5 class="card-title" style="color: #ffffff;">고객사관리</h5>
        <table class="table table-dark table-striped" style="table-layout: fixed;">
          <thead>
            <tr style="background-color: #5156be;">
              <th style="font-size: 18px;">
                고객사명
              </th>
              <th style="font-size: 18px;">
                담당자
              </th>
              <th style="font-size: 18px;">
                연락처
              </th>
              <th style="font-size: 18px;">
                단말기수
              </th>
              <th style="font-size: 18px;">
                상태
              </th>
              <th style="font-size: 18px;">
                결제방식
              </th>
              <th style="font-size: 18px;">
                등록일자
              </th>
              <th style="font-size: 18px;">
                특이사항
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-medium" style="font-size: 15px;">
                wwefwef
              </td>
              <td style="font-size: 15px;">
                wefwefewf
              </td>
              <td style="font-size: 15px;">
                wefwef
              </td>
              <td style="font-size: 15px;">

              </td>
              <td style="font-size: 15px;">

              </td>
              <td style="font-size: 15px;">

              </td>
              <td style="font-size: 15px;">

              </td>
              <td style="font-size: 15px;">

              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>