/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overflow-x: hidden;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #666666;

  text-align: center;
  vertical-align: middle;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#outer-grid {
  grid-gap: 1%;
  margin: 1%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#outer-grid > div {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
}

#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.font {
  font-family: "Noto Sans";
  font-style: normal;
}

h2 {
  font-size: 2vh;
  line-height: 27px;
  color: #03002c;
  margin: 1% 0 4% 0;
}

/* 사이드바 */
div > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  align-items: center;
  margin: 54px 0 0 0;
}

/* 컨테이너 */
.font > div > button {
  margin-bottom: 20px;
}

.unit > div {
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.unittitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;
  background-color: #438ffe;
  border-radius: 10px 10px 0px 0px;
}

.btn {
  cursor: pointer;
  background-color: #438ffe;
  margin-bottom: 20px;
  border: 1;
  color: white;

  width: flex;
  height: 50px;
  font-size: 1.2rem;
}

.btn:hover {
  animation: pulsate 1s ease-in-out;
}

button {
  cursor: pointer;
}

.unit > div {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div > #buttonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#unitDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

/* 모달 */
.mat-tab-body-content {
  overflow: hidden !important;
}

mat-form-field {
  margin: 10px 0 10px 0;
  width: 100%;
}

mat-form-field button {
  border: 0;
  background-color: transparent;
}

mat-form-field button mat-icon {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modalDiv {
  padding: 10% !important;
}

.mat-dialog-container {
  padding: 0% !important;
  overflow: hidden !important;
}

.container {
  height: flex;
  margin: 3vw 0 3vw 0;
}
