/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #666666;
  text-align: center;
}

.darkmode {
  background-color: #000;
}

#outer-grid {
  grid-gap: 1%;
  margin: 1%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#outer-grid > div {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
}

#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#inner-grid > div {
  padding: 8px;
}

.font {
  font-family: "Noto Sans";
  font-style: normal;
}

h2 {
  font-size: 2vh;
  line-height: 27px;
  color: #03002c;
  margin: 1% 0 4% 0;
}

/* 토글 */

/* 사이드바 */
div > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  align-items: center;
  margin: 54px 0 0 0;
}

.sidemenu {
  font-weight: 700;
  font-size: 18px;
  text-align: left;

  color: #61676b;
}

/* 컨테이너 */
.table {
  position: grid;
}

.unit > div {
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.unittitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;
  background-color: #438ffe;
  border-radius: 10px 10px 0px 0px;
}
