/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #666666;
  text-align: center;
  vertical-align: middle;

  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.darkmode {
  background-color: #000;
}

#outer-grid {
  grid-gap: 1%;
  margin: 1%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#outer-grid > div {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
}

#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.font {
  font-family: "Noto Sans";
  font-style: normal;
}

h2 {
  font-size: 2vh;
  line-height: 27px;
  color: #03002c;
  margin: 1% 0 4% 0;
}

/* 사이드바 */
div > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  align-items: center;
  margin: 54px 0 0 0;
}

.sidemenu {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  cursor: pointer;

  color: #61676b;
}

/* 컨테이너 */
.unit > div {
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.unittitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;
  background-color: #438ffe;
  border-radius: 10px 10px 0px 0px;
}

button {
  cursor: pointer;
  background-color: #438ffe;
  margin-bottom: 20px;
  border: 1;
  color: white;

  width: flex;
  height: 50px;
  font-size: 1.2rem;
}

button:hover {
  animation: pulsate 1s ease-in-out;
}

.plus {
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  width: 150px;
  border-radius: 15px;
  border: 0;
}

.plus:before {
  content: "\F415";
}

.unit > div {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div > #buttonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#unitDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

/* 모달 */
.modalopen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modalclose {
  z-index: -1;
  opacity: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
