<div class="full-page-wrapper page-body-wrapper contain" style="background-color: black;">
  <div style="width: 20%;">

    <div class="registercard">
      <p class="title">회원가입</p>

      <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div class="inputDiv">
          <input class="underline" type="text" placeholder="Id" formControlName="userId" tabindex="1" />
        </div>

        <div class="inputDiv">
          <input class="underline" type="text" placeholder="Email" formControlName="Email" tabindex="2" />
        </div>

        <div class="inputDiv">
          <input class="underline" type="text" placeholder="customerCode" formControlName="customerCode" tabindex="3" />
        </div>

        <div class="inputDiv">
          <input class="underline" type="text" placeholder="name" formControlName="name" tabindex="4" />
        </div>

        <div class="inputDiv">
          <input class="underline" type="password" placeholder="Password" formControlName="password" tabindex="5" />
        </div>
        <div class="inputDiv">
          <input class="underline" type="password" placeholder="Password확인" formControlName="confirmpassword"
            tabindex="6" />
        </div>

        <button class="singin" tabindex="7">회원가입</button>
      </form>
    </div>
    <div class="another">
      <button class="anotherbutton" (click)="gologin()">로그인</button>
      <button class="anotherbutton">비밀번호찾기</button>
    </div>

  </div>
</div>