<div class="full-page-wrapper page-body-wrapper contain">
  <div class="cardbox">

    <div class="registercard">
      <p class="title">회원가입</p>

      <form [formGroup]="registeruserForm" (ngSubmit)="registerUser()" novalidate>

        <div class="inputDiv">
          <p class="inputtitle">[커스터머코드]</p>
          <input class="enrolldevice" type="text" formControlName="customerCode" />
        </div>
        <div class="inputDiv">
          <p class="inputtitle">[이메일]</p>
          <input class="enrolldevice" type="text" formControlName="username" />
        </div>
        <div class="confirmpasswordbox" *ngIf="registeruserForm.controls.username.touched"
          [hidden]="!registeruserForm.hasError('required', 'username') ">
          <p>이메일을 입력해주세요</p>
        </div>
        <div class="confirmpasswordbox" [hidden]="!registeruserForm.hasError('pattern','username')">
          <p>이메일 형식이 아닙니다.</p>
        </div>

        <div class="inputDiv">
          <p class="inputtitle">[이름]</p>
          <input class="enrolldevice" type="text" formControlName="name" />
        </div>

        <div class="inputDiv">
          <p class="inputtitle">[연락처]</p>
          <input class="enrolldevice" type="text" formControlName="phone" />
        </div>

        <div formGroupName="passwordGroup">
          <div class="inputDiv">
            <p class="inputtitle">[패스워드]</p>
            <input class="enrolldevice" type="password" formControlName="password" autocomplete="off" />
          </div>

          <div class="inputDiv">
            <p class="inputtitle">[패스워드확인]</p>
            <input class="enrolldevice" type="password" formControlName="passwordconfirm" autocomplete="off" />
          </div>

          <div class="confirmpasswordbox"
            [hidden]="!registeruserForm.hasError('required',['passwordGroup','password']) ">
            <p>패스워드를 입력해주세요</p>
          </div>
          <div class="confirmpasswordbox" [hidden]="!registeruserForm.hasError('equal','passwordGroup')">
            <p>패스워드가 다릅니다</p>
          </div>
        </div>

        <div class="modal_footer">
          <button [ngClass]="!registeruserForm.valid ? 'nonactivebutton' : 'footerbutton' " tabindex="11" type="submit"
            [disabled]="!registeruserForm.valid">회원등록</button>
        </div>


      </form>
    </div>

    <div class="another">
      <button class="anotherbutton" (click)="gologin()">로그인</button>
      <button class="anotherbutton" (click)="goforgotpassword()">비밀번호찾기</button>
    </div>

  </div>
</div>